# Experiment 3

### 1. Create a list of the first 10 positive integers and print the sum of the even numbers in the list.

In [2]:
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
s = sum(i for i in l if i % 2 == 0)
print(s)

30

### 2. Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.

In [23]:
t1 = [10, 20, 30, 40, 50]
t2 = t1[(len(t1)-3):] #Will always resturn the last 3 elements of the tupple
print(t2)

[30, 40, 50]

### 3. Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6,7}; print the result.

In [27]:
s1 = {1,2,3,4,5}
print(s1.intersection({4,5,6,7}))

{4, 5}

### 4. Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3,then update the value for key 'b' to 10 and print the updated dictionary.

In [29]:
d = {'a':1, 'b':2, 'c':3}
d['b'] = 10
print(d)

{'a': 1, 'b': 10, 'c': 3}

### 5. Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list.

In [31]:
l = list(i**2 for i in range(1,6))
print(l)

[1, 4, 9, 16, 25]

### 6. Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple.

In [36]:
t = ('cat','dog','bird')
print('Present') if 'dog' in t else print('Not present')

Present

### 7. Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the setâ€™s length.

In [39]:
print(len(set([1, 1, 2, 3, 5, 8, 13])))

6

### 8. Create two dictionaries {'A': [1, 2], 'B': [3, 4]} and {'B': [5, 6], 'C': [7, 8]}, then merge them into one dictionary and print the result.

In [40]:
d1 = {'A': [1, 2], 'B': [3, 4]}
d2 = {'B': [5, 6], 'C': [7, 8]}
d1.update(d2)
print(d1)

{'A': [1, 2], 'B': [5, 6], 'C': [7, 8]}

### 9. For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary.

In [43]:
freq = {}
for i in [3, 5, 7, 3, 5, 9, 3] :
    freq[i] = freq.get(i,0) + 1 #.get() returns the value of the given key, if not present it returns 0
print(freq)

{3: 3, 5: 2, 7: 1, 9: 1}

### 10. Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values.

In [44]:
t = (1, 2, 3, 4, 5)
print(f'Max value: {max(t)}')
print(f'Min value: {min(t)}')

Max value: 5
Min value: 1

### 11. Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.

In [50]:
import statistics
l = [12, 15, 18, 20, 22, 25, 30]
print(f'The variance of {l} is: {statistics.variance(l)}')

The variance of [12, 15, 18, 20, 22, 25, 30] is: 36.904761904761905

### 12. Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.

In [5]:
sales = {'books': 150, 'pencil': 350, 'ruler': 400, 'eraser': 100}
print(sum(sales.values()))

1000

### 13.  From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions

In [59]:
temp = [22, 25, 19, 30, 28, 32, 26]
print(f'Highest temp: {max(temp)}')
print(f'Lowest temp: {min(temp)}')

Highest temp: 32
Lowest temp: 19

### 14. Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88,'Charlie')] and print the name of the student with the highest score.

In [4]:
scores = [(90, 'Alice'), (85, 'Bob'), (88,'Charlie')]
Max = 0
topper = ''
for i in scores:
        if i[0] > Max : 
            Max = i[0]
            topper = i[1]
print(topper)

Alice

### 15. Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.

In [5]:
l1 = [2, 4, 6, 8, 10]
l2 = []
c = 0
for i in l1: 
    c +=i
    l2.append(c)
print(l2)

[2, 6, 12, 20, 30]

### 16. Create a list of squares for numbers 1 through 10 using a list comprehension.

In [7]:
l = [i**2 for i in range (1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 17. Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with "FizzBuzz", for numbers 1 through 15.

In [12]:
l = []
for i in range(1,16):
    
    if(i%3 == 0 and i%5 == 0):
        l.append('FizzBuzz')
    elif(i%3 == 0):
        l.append('Fiz')
    elif(i%5 == 0):
        l.append('Buzz')
    else:
        l.append(i)
        
print(l)

[1, 2, 'Fiz', 4, 'Buzz', 'Fiz', 7, 8, 'Fiz', 'Buzz', 11, 'Fiz', 13, 14, 'FizzBuzz']

### 18.  Create a list of numbers from 1 to 100 that are divisible by both 2 and 5.

In [13]:
l = [i for i in range(1,101) if i%2==0 and i%5==0]
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 19. Write a program that takes a dictionary where each value is a list and converts it into a dictionary where each value is a set containing the unique elements from the original list.

In [6]:
d1 = { (1,2,2,3) : [1,2,2,3] , (4,3,4,2,1) : [4,3,4,2,1] , (5,6,6,6,5) : [5,6,6,6,5] }
for i, j in d1.items():
    d1[i] = set(j)
print(d1)

{(1, 2, 2, 3): {1, 2, 3}, (4, 3, 4, 2, 1): {1, 2, 3, 4}, (5, 6, 6, 6, 5): {5, 6}}

### 20. Write a program that takes two dictionaries and returns a set of keys that are present in the first dictionary but not in the second.

In [1]:
d1 = { 'a':1 , 'b':2 , 'c':3 }
d2 = { 'c':4 , 'd':5 , 'e':6 }
print(set(d1.keys()) - set(d2.keys()))

{'b', 'a'}

### 21. Write a function that takes two sets of tuples and returns a tuple containing three sets:
###     Elements that are in both sets.
###     Elements that are only in the first set.
###     Elements that are only in the second set.

In [10]:
def compare(set1 , set2):
    s1 = set(set1)
    s2 = set(set2)
    return (s1 & s2 , s1-s2, s2-s1)

set1 = {(1, 2), (3, 4), (5, 6)}
set2 = {(3, 4), (7, 8), (5, 6)}
print(compare(set1 , set2))

({(5, 6), (3, 4)}, {(1, 2)}, {(7, 8)})

### 22. Write a program that takes a list of sets and returns a single set that is the union of all the sets in the list.

In [4]:
l = [{1,2,3},{3,4,5},{5,6,7},{7,8,9}]
s = set()
for i in l:
    s = s.union(i)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 23. Write a program that takes a list of tuples and rotates each tuple by a given number of positions. For example, rotating (1, 2, 3, 4) by 2 positions would result in (3, 4, 1,2).

In [7]:
def rotate_tuple(tup, positions):
    positions %= len(tup)  # Handle rotations larger than the tuple length, calculates the actual no of rotations to perform
    return tup[positions:] + tup[:positions] # Slicing used

def rotate_tuples_list(tuples_list, positions):
    return [rotate_tuple(tup, positions) for tup in tuples_list] # Updates the tuples of the list with the new rotated ones

tuples_list = [(1, 2, 3, 4), (5, 6, 7), (8, 9)]
positions = 2

rotated_list = rotate_tuples_list(tuples_list, positions)
print(rotated_list)

[(3, 4, 1, 2), (7, 5, 6), (8, 9)]

### 24. Write a program that takes a list of tuples where each tuple contains integers and returns the tuple with the highest sum of its elements.

In [5]:
l = [(2,3,4,1),(0,4,2,3,9),(3,4,5,1,2,3)]
s = 0
t=()
for i in l:
   if sum(i)>s:
       s = sum(i)
       t = i
print(t)

(0, 4, 2, 3, 9)