# Experiment 9
# D115 Vedant Gadge 60009230120

In [2]:
import pandas as pd
import numpy as np

### 1. Create a Pandas Series from a list of 10 random integers and calculate its mean.

In [10]:
s = pd.Series(np.random.randint(1,101,size=10))
print('The series is: ',s.values)
print('The mean of the values in the series is: ',s.mean())

The series is:  [37 88  6  9 99 92 77 45 20 50]
The mean of the values in the series is:  52.3

### 2. Create a DataFrame from a dictionary with columns 'Name', 'Age', and 'City'.

In [8]:
df = pd.DataFrame({'Name': ['Vedant','Devansh','Aditya','Tanay'],
                  'Age' : [18,25,25,16],
                  'City': ['New York','Miami','Mumbai','Madrid']})
print(df)

      Name  Age      City
0   Vedant   18  New York
1  Devansh   25     Miami
2   Aditya   25    Mumbai
3    Tanay   16    Madrid

### 3. Access the first 5 elements of a Pandas Series using slicing

In [11]:
print('The first 5 elements of the series are: ',s[:5].values)

The first 5 elements of the series are:  [37 88  6  9 99]

### 4. Add a new column 'Score' to a DataFrame with values [85, 90, 78, 92].

In [12]:
df['Score'] = [85, 90, 78, 92]
print(df)

      Name  Age      City  Score
0   Vedant   18  New York     85
1  Devansh   25     Miami     90
2   Aditya   25    Mumbai     78
3    Tanay   16    Madrid     92

### 5. Use .iloc to access the first row of a DataFrame.

In [16]:
print(df.iloc[0])

Name       Vedant
Age            18
City     New York
Score          85
Name: 0, dtype: object

### 6. Use .loc to select the rows where 'Age' is 25 in a DataFrame

In [17]:
print(df.loc[df['Age'] == 25])

      Name  Age    City  Score
1  Devansh   25   Miami     90
2   Aditya   25  Mumbai     78

### 7. Create a Series with a custom index ['a', 'b', 'c'] and access the value at index 'b'.

In [28]:
s = pd.Series([10,20,30], index = ['a','b','c'])
print('The series is: ',s.values)
print('The value at label b: ',s['b'])

The series is:  [10 20 30]
The value at label b:  20

### 8. Calculate the standard deviation of a Series containing numerical values.

In [25]:
print(f'The standard deviation of the series {s.values} is: {s.std()}')

The standard deviation of the series [10 20 30] is: 10.0

### 9. Create a DataFrame and drop the 'City' column using the drop method.

In [82]:
df = pd.DataFrame({'Name': ['Vedant','Devansh','Aditya','Tanay'],
                  'Age' : [18,25,25,16],
                  'City': ['New York','Miami','Mumbai','Madrid']})
print(df,'\n')
print('After dropping City')
print(df.drop('City',axis = 1))

      Name  Age      City
0   Vedant   18  New York
1  Devansh   25     Miami
2   Aditya   25    Mumbai
3    Tanay   16    Madrid

After dropping City
      Name  Age
0   Vedant   18
1  Devansh   25
2   Aditya   25
3    Tanay   16

### 10. Filter a DataFrame to show rows where 'Age' is greater than 30 using boolean indexing.

In [83]:
df = pd.DataFrame({'Name': ['Vedant','Devansh','Aditya','Tanay'],
                  'Age' : [38,30,25,46],
                  'City': ['New York','Miami','Mumbai','Madrid']})
print(df[df['Age']>30])

     Name  Age      City
0  Vedant   38  New York
3   Tanay   46    Madrid

### 11. Apply a lambda function to a DataFrame column to square the values.

In [81]:
df1 = pd.DataFrame({'A': [2,4,6,8,10]})
print(df1,'\n')
df1['A'] = df1['A'].apply(lambda x: x**2)
print('After squaring')
print(df1)

    A
0   2
1   4
2   6
3   8
4  10

After squaring
     A
0    4
1   16
2   36
3   64
4  100

### 12. Use .iloc to select the last 3 rows of a DataFrame

In [57]:
print(df1.iloc[-3:])

     A
2   36
3   64
4  100

### 13. Rename the 'Name' column to 'FullName' in a DataFrame and display the DataFrame.

In [79]:
print(df,'\n')
print('\tAfter renaming')
print(df.rename(columns = {'Name':'FullName'}))

      Name  Age      City
0   Vedant   38  New York
1  Devansh   30     Miami
2   Aditya   25    Mumbai
3    Tanay   46    Madrid

	After renaming
  FullName  Age      City
0   Vedant   38  New York
1  Devansh   30     Miami
2   Aditya   25    Mumbai
3    Tanay   46    Madrid

### 14. Use .loc to select rows based on a condition and specific columns.

In [84]:
print(df,'\n')
print(df.loc[df['Age']>25,['Name','City']])

      Name  Age      City
0   Vedant   38  New York
1  Devansh   30     Miami
2   Aditya   25    Mumbai
3    Tanay   46    Madrid

      Name      City
0   Vedant  New York
1  Devansh     Miami
3    Tanay    Madrid

### 15. Create a DataFrame from a list of lists with columns ['A', 'B', 'C'] and calculate the mean of each column.

In [87]:
df2 = pd.DataFrame([[1,3,5],[2,4,6],[1,2,3]],columns = ['A','B','C'])
print(df2,'\n')
print('The means of each columns are: ')
print(df2.mean())

   A  B  C
0  1  3  5
1  2  4  6
2  1  2  3

The means of each columns are:
A    1.333333
B    3.000000
C    4.666667
dtype: float64

### 16. Load the Titanic dataset from kaggle into a DataFrame and display the first 5 rows

In [90]:
df3 = pd.read_csv('gender_submission.csv')
print(df3.head())

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

### 17. Calculate the correlation matrix of a DataFrame with numerical columns from the Wine Quality dataset.

In [96]:
df3 = pd.read_csv('winequality-red.csv')
print(df3.head().corr())

                      fixed acidity  volatile acidity  citric acid  \
fixed acidity              1.000000         -0.906283     0.994920
volatile acidity          -0.906283          1.000000    -0.943763
citric acid                0.994920         -0.943763     1.000000
residual sugar            -0.275990          0.654122    -0.368253
chlorides                 -0.322814          0.680229    -0.409028
free sulfur dioxide        0.211813          0.211116     0.112616
total sulfur dioxide       0.481653         -0.068122     0.393784
density                    0.431179         -0.753635     0.510347
pH                        -0.650087          0.281700    -0.577617
sulphates                 -0.143275          0.533672    -0.233842
alcohol                    0.517672         -0.144841     0.444262
quality                    0.992372         -0.946100     0.997530

                      residual sugar  chlorides  free sulfur dioxide  \
fixed acidity              -0.275990  -0.322814             0.211813
volatile acidity            0.654122   0.680229             0.211116
citric acid                -0.368253  -0.409028             0.112616
residual sugar              1.000000   0.989394             0.831424
chlorides                   0.989394   1.000000             0.756363
free sulfur dioxide         0.831424   0.756363             1.000000
total sulfur dioxide        0.709393   0.665273             0.913654
density                    -0.967665  -0.991438            -0.668041
pH                         -0.538096  -0.508630            -0.784456
sulphates                   0.978868   0.982850             0.825581
alcohol                     0.628828   0.625057             0.760469
quality                    -0.385077  -0.434493             0.116423

                      total sulfur dioxide   density        pH  sulphates  \
fixed acidity                     0.481653  0.431179 -0.650087  -0.143275
volatile acidity                 -0.068122 -0.753635  0.281700   0.533672
citric acid                       0.393784  0.510347 -0.577617  -0.233842
residual sugar                    0.709393 -0.967665 -0.538096   0.978868
chlorides                         0.665273 -0.991438 -0.508630   0.982850
free sulfur dioxide               0.913654 -0.668041 -0.784456   0.825581
total sulfur dioxide              1.000000 -0.565955 -0.967208   0.787313
density                          -0.565955  1.000000  0.405161  -0.953672
pH                               -0.967208  0.405161  1.000000  -0.658556
sulphates                         0.787313 -0.953672 -0.658556   1.000000
alcohol                           0.952707 -0.540590 -0.977817   0.756644
quality                           0.376633  0.537944 -0.552727  -0.261892

                       alcohol   quality
fixed acidity         0.517672  0.992372
volatile acidity     -0.144841 -0.946100
citric acid           0.444262  0.997530
residual sugar        0.628828 -0.385077
chlorides             0.625057 -0.434493
free sulfur dioxide   0.760469  0.116423
total sulfur dioxide  0.952707  0.376633
density              -0.540590  0.537944
pH                   -0.977817 -0.552727
sulphates             0.756644 -0.261892
alcohol               1.000000  0.408248
quality               0.408248  1.000000

### 18. Create a DataFrame with a 'Date' column and set it as the index, then resample the data by month.

In [100]:
date_range = pd.date_range(start='2023-01-01', periods=100, freq='D')
data = np.random.rand(100)
df = pd.DataFrame(data, columns=['Value'], index=date_range)

print("Original DataFrame:")
print(df.head())

monthly_resampled = df.resample('ME').mean() #resampled to months

print("\nMonthly Resampled DataFrame:")
print(monthly_resampled)

Original DataFrame:
               Value
2023-01-01  0.311890
2023-01-02  0.921039
2023-01-03  0.893399
2023-01-04  0.033759
2023-01-05  0.121660

Monthly Resampled DataFrame:
               Value
2023-01-31  0.517178
2023-02-28  0.544535
2023-03-31  0.493568
2023-04-30  0.610738